@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* Base Styles */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    font-weight: normal;
}

.navbar-nav {
    gap: 25px;
}

.nav-link {
    color: #000;
    font-size: 18px;
    font-weight: 500;
    position: relative;
    padding-bottom: 10px;
}

.nav-link:hover,
.nav-link.active {
    text-decoration: none;
}

.nav-link:hover::after,
.nav-link.active::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 10px;
    background-image: url(../icons/header.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.contact-btn {
    background-color: #E57407;
    color: #fff;
    font-size: 16px;
    border-radius: 8px 0px;
    font-weight: 500;
    padding: 8px 18px;
}

.signup-btn:hover,
.contact-btn:hover{
    background-color: #E57407;
    color: #fff;
}
.social-icons a {
    color: #fff;
    margin-right: 10px;
}

.top-bar {
    background-color: #75A70D;
    color: #fff;
    padding: 20px;
}

.top-bar a {
    text-decoration: none;
    color: #fff;
}

.top-bar-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-nav .nav-item {
    text-align: end;
}

/* Section 1 Background */
.section1 {
    background-image: url(../images/home/section1-bg.png);
    background-repeat: no-repeat;
    background-position: 100%;
    background-size: cover;
    max-width: 100%;
    position: relative;
}

.section1 .unlock-heading{
    font-size: 48px;
    font-weight: 700;
    color: #fff;
    font-family: "Montserrat", sans-serif;
    line-height: normal;
    padding-bottom: 10px;
}

.section1 p{
    color: #F1F1F1;
    font-size: 16px;
    font-weight: normal;
}

.signup-btn {
    background-color: #E57407;
    color: #fff;
    font-size: 16px;
    border-radius: 8px 0px;
    font-weight: 500;
    padding: 10px 22px;
    display: inline-block;
}

.btn-white:hover,
.btn-white{
    background-color: #fff !important;
    color: #221717;
}

.section1 .button-flex{
    display: flex;
    gap: 25px;
}

.section1 .left-side{
    justify-content: center;
    display: flex;
    margin-top: 76px;
    flex-direction: column;
}

.section1-img1 img{
    width: 100%;
    margin-top: 80px;
}

.section1-bg-leftimg{
    position: absolute;
}

.section2{
    background-image: url(../images/home/section2-bg.png);
    background-repeat: no-repeat;
    background-size: 50% 100%;
    /* min-height: 100vh; */
    display: flex;
    align-items: center;
    margin-top: 50px;
}

.section7 .img1 img,
.section5-img1 img,
.section2-img1 img{
    width: 80%;
    max-width: 100%;
}

.section2-img1{
    text-align: center;
}

.section2 .about-us span{
    font-size: 20px;
    color: #000;
}

.about-us img{
    width: 37px;
}

.font-size-30px{
    font-size: 30px;
    font-weight: bold;
    font-family: "Montserrat", sans-serif;
    color: #000;
    line-height: 36px;
}

.section2 .about-us p{
    font-size: 16px;
    color: #000;
}

.btn-75A70D:hover,
.btn-75A70D{
    background-color: #75A70D;
    color: #fff;
}

.section3{
    background-image: url(../images/home/section3-bg.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding-bottom: 40px;
}

.text-FDEEEE{
    color: #FDEEEE;
}

.font-size-24px{
    font-size: 20px;
    color: #FDEEEE;
    font-weight: normal;
}

.section3 .section3-img1 img{
    width: 90%;
    max-width: 100%;
    height: 422px;
}

.font-size-20px{
    font-size: 20px;
    font-weight: normal;
    color: #F9F9F9;
}

.font-size-14px{
    font-size: 14px;
    color: #fff;
    font-weight: normal;
}

.text-75A70D{
    color: #75A70D;
}

.text-E57407{
    color: #E57407;
}

.section4 .para{
    font-size: 20px;
    line-height: normal;
    color: #000;
    padding: 20px 0px;
}

.section4 .icon-text{
    font-size: 18px;
    font-weight: bold;
    color: #000;
}

.section4 .paragraph{
    font-size: 12px;
    color: #000;
    line-height: normal;
}

.flex-icons{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.team-icon-flex{
    display: flex;
    gap: 30px;
}

.team-icon-flex .flex-icons .team-work img{
    width: 100%;
}

.team-work{
    border: 2px solid #75A70D;
    border-radius: 150px;
    padding: 30px;
}

.section5{
    margin-top: 40px;
    background-color: #0E0E0E;
}

.section5 .text-E57407{
    font-size: 20px;
    font-weight: 500;
}

.section5 .font-size-30px{
    color: #fff;
}

.font-size-18px{
    font-size: 16px;
    color: #fff;
    line-height: normal;
}

.section8,
.section6{
    padding: 60px 0px;
}

.bg-ffe4cf{
    background-color: #ffe4cf;
    border-radius: 34px;
    padding: 30px 40px;
    /* height: 346px; */
}

.section7 .testimonial .name{
    font-size: 16px;
    color: #000;
    font-weight: bold;
}

.section7 .testimonial .role{
    font-size: 14px;
    color: #000;
    font-weight: normal;
}

.section7 .comma-para{
    font-size: 18px;
    color: #000;
    font-weight: 600;
}

.comma-section{
    margin-top: 65px;
}

/* faq */
.faq-question {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding: 10px 0;
  }

  .faq-icon {
    width: 48px;
    height: 32px;
    background-color: #E57407;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    
  }

  .faq-header {
    font-weight: bold;
    font-size: 18px;
    cursor: pointer;
    border: none;
    background: none;
    outline: none;
    width: 100%;
    text-align: left;
    font-family: "Montserrat", sans-serif;
    margin-bottom: 20px;

  }

  .faq-body {
    padding-left: 0px;
    padding-left: 0px;
    margin-top: -17px;
    max-width: 400px;
    font-size: 16px;
    font-weight: normal;
  }

  .accordion-button {
    background: none;
    border: none;
    box-shadow: none;
    outline: none;
  }

  .accordion-item {
    border-bottom: 1px solid #000;
    border-top: none;
    border-left: none;
    border-right: none;
    margin-bottom: 30px;
  }

  .accordion-button:focus {
    box-shadow: none;
  }

  .faq-icon i {
    font-size: 16px;
  }

  .accordion-button::after {
    display: none;
  }

.footer-section{
    padding-top: 60px;
    background-color: #000;
}

.footer-section .footer-para{
    font-size: 14px;
    color: #fff;
    font-weight: normal;
}

.footer-section .our-links{
    font-size: 26px;
    color: #fff;
    font-weight: 600;
    padding-bottom: 20px;
}

.footer-links ul{
    list-style: none;
    padding: 0px;
}

.footer-links ul li{
    padding-bottom: 10px;
    color: #fff;
    font-size: 18px;
}

.footer-links ul li a img{
    width: 57px;
}

.footer-links{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.footer-input-flex{
    display: flex;
    justify-content: space-between;
}

.section10-input .form-control{
    width: 100%;
    border-radius: 10px !important;
    background: #FFF !important;
    height: 60px;
    padding: 25px;
}

.section10-input .btn{
    border-radius: 7px;
    background: #75A70D;
    color: #FFF;
    font-size: 18px;
    font-weight: 600;
    line-height: normal;
    margin-left: -110px;
    height: 45px;
    padding: 0px 15px;
    display: inline-block;
}

.section10-input{
    display: flex;
    align-items: center;
    margin-top: 40px;
}


input::placeholder{
    color: #000;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.footer-vector{
    margin-top: -188px;
}

.section1-programs{
    background-image: url(../images/banner-img1.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    max-width: 100%;
    position: relative;
    min-height: 318px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.section1-programs .heading{
    font-size: 40px;
    color: #fff;
    font-weight: bold;
}

.section3.program-card-bg{
    background-image: url(../images/program-card-bg.png) !important;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding-bottom: 40px;
    margin-bottom: -1px;
}

.blog-bg{
    background-image: url(../images/blog-bg.png) !important;
    background-repeat: no-repeat;
    background-size: 100%;
    position: relative;
}

.blog-bg .our-blogs .our-blogs-halmet{
    font-size: 30px;
    color: #000;
    font-weight: normal;
    text-align: center;
    padding-top: 80px;
}

.font-size-28px{
    font-size: 28px;
    color: #000;
    font-weight: normal;
}

.blog-bg .our-blogs p{
    font-size: 16px;
    color: #000;
    font-weight: normal;
}

.rugbyskillz-balls-about-us,
.blog-bg .rugbyskillz-ball{
    position: absolute;
    bottom: 60px;
    right: 0;
}

.accordion.faq{
    padding-top: 160px;
}

.faq-header.faq{
    font-size: 25px ;
}

.accordion-item.faq{
    border-bottom: 1px solid #75A70D;
}

.accordion-body.faq-body.faq{
    max-width: 750px;
    font-size: 18px;
    color: #000;
    margin-bottom: 10px;
}

.accordion-item:last-of-type{
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.rugbyskillz-balls-about-us,
.rugbyskillz-ball.faq{
    bottom: -100px;
}


.rugbyskillz-balls-about-us img{
    width: 170px;
    height: 170px;
}
.rugbyskillz-ball.faq img{
    max-width: 100px;
    height: 250px;
}

.blog-bg.faq{
    margin-bottom: 100px;
}

.about-mission-section {
    background-image: url(../images/about-mission-section.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 550px;
    padding: 20px;
}

.about-mission-section .heading {
    font-size: 40px;
    color: #fff;
    font-weight: normal;
    margin-bottom: 15px;
}

.about-mission-section .about-position-absolute {
    padding: 20px;
    border-radius: 10px;
    max-width: 600px;
    text-align: center;
    position: relative;
}

.about-mission-section .about-paragraph {
    font-size: 18px;
    color: #fff;
    margin-top: 10px;
}

.about-mission-section.preposition{
    background-image: url(../images/about-prepositon-section.png) !important;
}

.contact-us-heading{
    color: #E57407;
    font-size: 40px;
    font-weight: bold;
    padding-top: 150px;
    padding-bottom: 20px;
}

.card-75A70D{
    border: 2px solid #75A70D;
    border-radius: 13px;
    width: 300px;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contact-us-para,
.card-75A70D .contact-number a,
.card-75A70D .contact-number{
    font-size: 18px;
    color: #000;
    font-weight: 500;
    text-decoration: none;
}

.contact-us-para{
    padding: 20px 0px;
}

.form-container {
    background-color: #0C0C0C; 
    padding: 80px 50px;
    border-radius: 10px;
    color: #fff;
}

.form-container .heading{
    font-size: 30px;
    color: #fff;
    font-weight: bold;
}
.form-container input,
.form-container textarea {
    background-color: #0C0C0C;
    color: #fff;
    border-color: 1px solid #fff;
    resize: none;
}
.form-container .btn {
    background-color: #4CAF50;
    color: white;
}

.form-container .btn:hover {
    background-color: #45a049;
}

.form-container textarea::placeholder,
.form-container input::placeholder{
    color: #fff;
    font-size: 16px;
    font-weight: normal;
}

.form-container .btn-75A70D{
    background-color: #75A70D;
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
    padding: 10px 30px;
    border-radius: 10px;
}

.form-container .margin-top-40px{
    margin-top: 40px;
}

.contact-us-img img{
    height: 506px;
}

.navbar-toggler:focus{
    box-shadow: none;
}
@media screen and (max-width: 992px) {

    .section2-img1 img,
    .section7 .img1 img,
    .card-75A70D{
        width: 100%;
    }

    .section2-img1{
        text-align: left;
        margin-bottom: 20px;
        margin-top: 20px;
    }

    .section3 .section3-img1 img{
        height: 100%;
    }

    .team-icon-flex{
        flex-wrap: wrap;
    }

    .section4 .paragraph {
        font-size: 14px;
        margin: 0px 100px;
    }

    .section5 .text-E57407{
        padding-top: 30px;
    }

    .section5-img1 img{
        margin-bottom: -24px;
        width: 100%;
    }

    .about-us,
    .accordion,
    .padding-top-20px{
        padding-top: 20px !important;
    }

    .button-flex{
        margin-bottom: 20px;
    }

    .navbar-nav{
        gap: 10px;
        align-items: start;
    }
    .navbar {
        padding: 20px 10px;
    }
}

@media screen and (max-width: 767px) {

    .section5-img1 img{
        margin-bottom: 0px;
    }
    
    /* Top Bar */
    .top-bar-flex {
        flex-direction: column;
        gap: 10px;
        text-align: center;
    }

    /* Navbar */
    .navbar {
        padding: 20px 10px;
    }

    .navbar-brand img {
        width: 150px !important; 
    }

    .nav-link {
        font-size: 16px; 
    }

    .social-icons a {
        margin-right: 5px; 
    }

    /* Section 1 Background */
    .section1 {
        background-size: cover;
        background-position: top center; 
    }

    .navbar-nav{
        gap: 0px;
    }

    .navbar-nav .nav-item{
        text-align: left;
    }

    .nav-link:hover::after, .nav-link.active::after{
        left: 50%;
    }

    .team-icon-flex{
        flex-wrap: wrap;
    }

    .section7 .img1 img, 
    .section5-img1 img, 
    .section2-img1 img,
    .section3 .section3-img1 img{
        width: 100%;
    }

    .section7{
        padding-bottom: 40px;
    }
    .section3-img1{
        margin: 20px 0px;
    }

    .section4 .paragraph{
        padding: 0px 40px;
    }

    .section5{
        margin-top: 40px;
        padding-top: 30px;
    }

    .accordion{
        padding-top: 20px;
    }

    .section8, .section6 {
        padding: 20px 0px;
    }

    .footer-section{
        padding: 40px 0px;
    }

    .footer-input-flex{
        flex-direction: column;
    }

    .footer-links ul li a img{
        width: 40px;
    }

    .footer-links{
        flex-direction: row;
    }

    .section10-input .form-control{
        width: 100%;
    }

    .footer-section .footer-para,
    .footer-section .our-links{
        padding-bottom: 10px;
    }

    .footer-logo img{
        width: 50%;
    }

    .accordion.faq{
        padding-top: 50px;
    }

    .about-mission-section {
        background-size: cover;
        min-height: 400px;
    }
    
    .about-mission-section .heading {
        font-size: 30px;
    }

    .about-mission-section .about-paragraph {
        font-size: 18px;
    }

    .card-75A70D .contact-us-icons img{
        width: 50px;
    }
    .card-75A70D{
        margin-bottom: 30px;
    }

    .form-container input{
        margin-bottom: 20px;
    }

    .form-container{
        padding: 50px;
        margin-top: 30px;
    }

    .contact-us-heading{
        padding-top: 100px;
    }

    .fd-cr{
        flex-direction: column-reverse;
    }

    .contact-us-para{
        padding-left: 10px;
    }

    .faq-header.faq{
        font-size: 20px;
    }

    .accordion-body.faq-body.faq{
        font-size: 18px;
    }
}


@media (max-width: 662px) {
    .accordion.faq{
        max-width: 400px;
        margin: auto;
    }
}
@media (max-width: 480px) {
    .about-mission-section {
        min-height: 350px;
    }

    .about-mission-section .heading {
        font-size: 24px;
    }

    .about-mission-section .about-paragraph {
        font-size: 14px;
    }

    .accordion.faq{
        max-width: 300px;
        margin: auto;
    }
}